@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    min-height: 100vh;
    min-width: 100%;
    background-color: white
  }

  .changeWhite {
    background-color:black;
  }

  section {
    @apply mt-6 mb-0;
  }
}

@layer utilities {
  .center-body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .bg-image-1 {
    background-image: linear-gradient(to right, #ac2debb3, #5596ffb3), url("./assets/img/bg-image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 40vh;
  }

  .bg-image-2 {
    background-image: linear-gradient(to right, #3710bdb3, #a42395b3), url("./assets/img/bg-image-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 40vh;
  }
}
